@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
ul{
        list-style-type: none;
    }
    .menublock{
        position:absolute;
        width: 25%;
        
        background-color: aquamarine;
    }
    .menusub{
        display:none;
        overflow-y: visible;
        background-color: grey;
        
        
    }
    .dropmenu{
        top:0;
        position: relative;
        text-align: left;
    }
    a{
        text-decoration:none;
        color:black;
    }
    .subsub{
        top: 0;
        position:absolute;
        padding: 5px;
        left:100%;
        display:none;
        background-color: rgb(147, 147, 147);
        
    }
    .supersub{
        top: 0;
        position:absolute;
        padding: 5px;
        left:100%;
        display:none;
        background-color: rgb(147, 147, 147);
    }
    .menublock:hover .menusub{
        display:block;
    }
    .menusub:hover .subsub{
        display:block;
        overflow-y: visible;
    }
    .dropmenu:hover .supersub{
        display:block;
        overflow-y: visible;
    }
